body{
    background-color:darkred
/*    the background*/
}
p{
    color:red;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif ;
    font-size:100px;
    font-weight:500; 
    } 
}
b{
    URL:
}
img {
     width: 400px;   
    }  
